#projects {
  h2 {
    text-align: center;
    margin-bottom: calc(2vw + 1rem);
  }
  .project-list {
    gap: 3%;
    row-gap: 3rem;
    .project-card {
      min-width: 300px;
      max-width: 500px;
      width: 30%;
      .img {
        position: relative;
        transition: all 0.5s;
        width: 100%;
        overflow: hidden;
        img {
          width: 100%;
          object-fit: cover;
        }
        .button-group {
          position: absolute;
          inset: 0;
          background-color: #161616f6;
          opacity: 0;
          transition: all 0.5s;
          a {
            position: relative;
            padding: 5px 0;

            &::before,
            &::after {
              content: "";
              position: absolute;
              left: 0;
              width: 0;
              height: 2px;
              background-color: $main;
              transition: width 0.5s ease-out, transform 0.5s ease-out;
            }

            &::before {
              top: 100%;
              transform-origin: left;
              transform: scaleX(0);
            }

            &::after {
              bottom: 100%;
              transform-origin: right;
              transform: scaleX(0);
            }

            &:hover::before {
              width: 100%;
              transform: scaleX(1);
            }

            &:hover::after {
              width: 100%;
              transform: scaleX(1);
            }
          }
        }
        &:hover {
          box-shadow: 15px 15px 0px 0px $main;
          .button-group {
            opacity: 1;
            a {
              text-decoration: none;
            }
          }
        }
      }
      div {
        width: 100%;
      }
      .project-details {
        * {
          margin-block: 1rem;
        }
        div {
          * {
            margin: 0;
          }
        }
        .technologies {
          gap: 1rem;
          a {
            background-color: $main;
            color: $bg;
            padding: 5px 10px;
            // border-radius: 20px;
            transition: all 0.5s;
            &:hover {
              text-decoration: none;
              background-color: transparentize($color: $main, $amount: 0.3);
            }
          }
        }
        .button-group {
          display: none;
        }
      }
    }
  }
}
