@import './styles/prestyles';
@import './styles/nav';
@import './styles/home';
@import './styles/projects';
@import './styles/contact';

footer{
    text-align: center;
    width: 100%;
    padding: 2vw;
}